<div class="d-flex flex-row justify-content-center">
    <div class="AdvDirIntro">
        <h1>QUALIFYING TESTS:</h1>
        <h2>Medical Necessity | Asset | Income</h2>
        <p>Our Medicaid eligibility tests provide a way for seniors to determine if they are immediately eligible for Medicaid.</p>
    </div>
</div>
<div class="d-flex flex-row align-items-center blueBg flex-wrap">
  <div><img src="../assets/images/medNec.jpg" class="img-fluid" alt="mecical necessity"></div>
  <div class="para13">
    <h2>MEDICAL NECESSITY TEST</h2>
    <p>In order to obtain nursing home Medicaid benefits, a person must be at least 65 years of age, disabled, or blind and have the medical necessity to be in a nursing facility. This is typically referred to as a “CARES Assessment”.</p>
    <p>For those individuals that are considered medically qualified, but remain at home, Florida has designated some additional programs such as the Diversion Program and the Alzheimer’s Initiative, each which provide specific services.</p>
  </div>
</div>
<div class="d-flex flex-row align-items-center flex-wrap">
  <div class="para2">
    <h2>ASSET TEST</h2>
    <p>A nursing home resident must have less than $2,000 of countable assets to be considered Medicaid eligible. The community spouse, or spouse living at home, is entitled to keep a higher amount. A married couple’s assets are all considered together whether or not they are held jointly or separately. Please check the <a routerLink="/medicaid-at-aglance">Medicaid at a Glance</a> for the latest qualifying limits. The assets that may be exempt are a home, a vehicle, prepaid funerals and cemetery lots, and certain trusts. Since the State has very specific guidelines, it is important to review each asset carefully in order to know if the assets are countable or exempt. </p>
  </div>
  <div><img src="../assets/images/assets.jpg" class="img-fluid" alt="mecical necessity"></div>
</div>
<div class="d-flex flex-row align-items-center blueBg flex-wrap">
    <div><img src="../assets/images/income.png" class="img-fluid" alt="mecical necessity"></div>
    <div class="para13">
      <h2>INCOME TEST</h2>
      <p>Florida is an Income Cap State. This means that there is an income limit for Medicaid eligibility. Medicaid is concerned with gross income, or the amount of income before taxes are removed. Income received from Social Security, pensions, IRA’s and all other forms are considered in determining Medicaid eligibility. In many cases, a Qualified Income trust can be used to legally solve the problem of too much income.</p>
      <p>Long Term Care Qualifications, works closely with Elder Law Attorneys who can prepare any legal documents, such as Qualified Income Trust for Medicaid qualification. By putting the excess income into the Qualified Income Trust, it is unavailable to the individual and this allows the remaining income to be viewed within Medicaid Guidelines. All income, even income deposited into the income trust, is considered when determining patient responsibility toward the nursing home payment for care.</p>
    </div>
  </div>