<footer class="sticky-top">
<div class="footerContainer d-flex justify-content-center">
  <div class="row">
    <div class="footerColumns">
      <a href="#">Home</a>
      <a routerLink="/advanced-directives" >Advanced Directives</a>
      <a class="nav-link" routerLink="/power-of-attorney">Power of Attorney</a>
      <a class="nav-link" routerLink="/living-will">Living Will</a>
      <a class="nav-link" routerLink="/health-care-surrogate">Health Care Surrogate</a>
      <a routerLink="/medicaid-at-aglance">Medicaid at a Glance</a>


    </div>
    <div class="footerColumns footerMidColumns">
      <a routerLink="/qualifying-tests">Qualifying Tests</a>
      <a routerLink="/philanthropy">Philanthropy</a>
      <a class="nav-link" routerLink="/robert-in-cuba">Robert in Cuba</a>
      <a class="nav-link" routerLink="/robert-in-nicaragua">Robert in Nicaragua</a>
      <a routerLink="/social-media">Social Media</a>
      <a routerLink="/agua4-nicaragua">Agua 4 Nicaragua</a>
    </div>
    <div class="footerColumns">
        <a routerLink="/contact-us">Contact Us</a>
        <h3>Long Term Care Qualifications, LLC</h3>
        <a href="https://goo.gl/maps/sjsSUBTtyDQ2" target="_blank">628 Cleveland Street Suite 1507<br>
            Clearwater, FL. 33755</a>
        <a href="tel:1-800-919-9777">1-800-919-9777</a>
    </div>
  </div>
</div>
<div class="footerContainer copyright">
    <p>Long Term Care Qualifications, LLC ©2018</p>
</div>
</footer>
