<div class="d-flex flex-row justify-content-center">
    <div class="AdvDirIntro">
        <h1>ADVANCED DIRECTIVES:</h1>
        <h2>Living Will</h2>
        <p>A written statement detailing a person's desires regarding their medical treatment<br>in circumstances in which they are no longer able to express informed consent.</p>
        <div>
            <a class="formsBtn" href="../assets/files/LTCQLivingWill.pdf" role="button" download>Download Form</a>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center pdfContain">
<embed src="../assets/files/LTCQ-Living-Will-Web.pdf" type="application/pdf" class="pdfEmbed" />
</div>