.knowNum {
    text-align: center;
    color: white;
    background-color: rgba(67, 136, 217, .8);
    width: 100%;
    margin-bottom: 25px;
    padding: 50px 0 20px;
}
.magTable{
    max-width: 85%;
    margin: 0 20px;
    text-align: center;
}

.tableRounded {
    border-radius: .75em; 
}

.textBorder {
    border-bottom: 2px solid yellow;
}

.tableOpacity {
    opacity: .90;
}