.pdfContain {
    height: 800px;
}
.pdfEmbed {
    width: 100%; 
    height: 800px;
}
.formsBtn {
    color: #000;
    background-color: #f9932f;
    margin: 20px 40px;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
}
.btnDiv{
    margin: 20px 0;
}