<div class="d-flex flex-row justify-content-center">
    <div class="AdvDirIntro">
        <h1>ROBERT IN CUBA</h1>
        <p>Long Term Care Qualifications is dedicated to many philanthropic endeavors.<br>Robert Thor makes frequent trips to Cuba as an ambassador of good will.</p>
    </div>
</div>
<div class="d-flex flex-row align-items-center justify-content-center contactRow flex-wrap">
  <div class="para2 textPad">
    <h2>We Are All Connected</h2>
    <p>Wishing all people good will, love and peach.</p>
  </div>
  <div class="para2"><img class="tallPics" src="../assets/images/Cuba01-logo.jpg"></div>
</div>
<div class="d-flex flex-row align-items-center flex-wrap blueBg">
  <div class="para13"><img class="tallPics" src="../assets/images/Cuba02-picturebox.jpg" alt="mecical necessity"></div>
  <div class="para13 textPad">
    <h2>Life, Love and Happiness</h2>
    <p>We are one world and one people.</p>
  </div>
</div>
<div class="d-flex flex-row align-items-center justify-content-center flex-wrap contactRow">
  <div class="para2 textPad">
    <h2>My Girls Spreading Joy To Others</h2>
    <p>Everyone deserves to be beautiful.</p>
  </div>
  <div class="para2"><img class="widePics" src="../assets/images/Cuba03-girlsMakeup.jpg"></div>
</div>
<div class="d-flex flex-row align-items-center flex-wrap blueBg">
  <div class="para13"><img class="widePics" src="../assets/images/Cuba04-hurray.jpg" alt="mecical necessity"></div>
  <div class="para13 textPad">
    <h2>Family is Happiness</h2>
    <p>Traveling with my girls brings me great joy.</p>
  </div>
</div>
<div class="d-flex flex-row align-items-center justify-content-center flex-wrap contactRow">
  <div class="para2 textPad">
    <h2>Sunsets Bring Beauty To Latitude</h2>
    <p>As the sun goes down, the beauty of the day comes to a close and the adventure of night is ahead.</p>
  </div>
  <div class="para2"><img class="tallPics" src="../assets/images/Cuba05-sunset.jpg"></div>
</div>
<div class="d-flex flex-row align-items-center flex-wrap blueBg">
  <div class="para13"><img class="tallPics" src="../assets/images/Cuba06-RobertMayaJump.jpg" alt="mecical necessity"></div>
  <div class="para13 textPad">
    <h2>Jump! Go ahead, jump!</h2>
    <p>I get up, and nothing gets me down.</p>
  </div>
</div>
<div class="d-flex flex-row align-items-center justify-content-center flex-wrap contactRow">
  <div class="para2 textPad">
    <h2>Sounds of the City</h2>
    <p>Music is universal and brings joy to all.</p>
  </div>
  <div class="para2"><img class="tallPics" src="../assets/images/Cuba07-girlandguitar.jpg"></div>
</div>
<div class="d-flex flex-row align-items-center flex-wrap blueBg">
  <div class="para13"><img class="tallPics" src="../assets/images/Cuba09-coastline.jpg" alt="mecical necessity"></div>
  <div class="para13 textPad">
    <h2>Pristine Coastline</h2>
    <p>Beautiful coastline that no photo can capture.</p>
  </div>
</div>
<div class="d-flex flex-row align-items-center justify-content-center flex-wrap contactRow">
  <div class="para2 textPad">
    <h2>Life is a Beach</h2>
    <p>We always feel home at the beach.</p>
  </div>
  <div class="para2"><img class="widePics" src="../assets/images/Cuba10-beachday.jpg"></div>
</div>
<div class="d-flex flex-row align-items-center flex-wrap blueBg">
  <div class="para13"><img class="widePics" src="../assets/images/Cuba11-RobertandGirls.jpg" alt="mecical necessity"></div>
  <div class="para13 textPad">
    <h2>My Whole World</h2>
    <p>There is nothing more important than family.</p>
  </div>
</div>