.para2 {
    color: #4389d9;
    margin: 0 auto;
    text-align: center; 
}
.tallPics{
    height: 600px;

}
.widePics{
    width: 600px;

}
.blueBg{
    background-color: #4389d9;
}
.para13{
    color: white;
    margin: 0 auto;
    text-align: center;
}
.textPad {
    padding: 50px 0;    
}