<nav class="navbar sticky-top navbar-expand-lg navbar-dark navbarcolor">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav navCenter">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Advanced Directives
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/advanced-directives" >Advanced Directives</a>
          <a class="dropdown-item" routerLink="/power-of-attorney">Power of Attorney</a>
          <a class="dropdown-item" routerLink="/living-will">Living Will</a>
          <a class="dropdown-item" routerLink="/health-care-surrogate">Health Care Surrogate</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/medicaid-at-aglance">Medicaid at a Glance</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/qualifying-tests">Qualifying Tests</a>
      </li>
      <li>
        <div class="navLogoContainer">
            <img src="../assets/images/logo.png" class="navlogo">
        </div>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Philanthropy
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/philanthropy">Philanthropy</a>
            <a class="dropdown-item" routerLink="/robert-in-cuba">Robert in Cuba</a>
            <a class="dropdown-item" routerLink="/robert-in-nicaragua">Robert in Nicaragua</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-us">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/social-media">Social Media</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/agua4-nicaragua">Agua 4 Nicaragua</a>
        </li>
    </ul>

  </div>
</nav>