/* .navWidth {
    width: 100%;
} */
.navbarcolor{
    background-color: #4389d9 !important;
    min-height: 100px;
    padding: 0 115px;
}

.navCenter {
    margin: 0 auto;
}

.navLogoContainer {
    width: 80px;
    margin: 0 15px;
}
.navlogo {
    margin: 0;
    padding: 0;
    width: 6%;
    position: absolute;
    top: 30px;
}