/* You can add global styles to this file, and also import other style files */
body {
    font-family: futura-pt, sans-serif;
}
p {
    margin: 0;
    padding: 0;
}
.p-2 {
    padding: 0 !important;
}
.AdvDirIntro {
    text-align: center;
    color: white;
    background-color: rgba(67, 136, 217, .8);
    width: 100%;
    padding: 50px 0 20px;
}