/* You can add global styles to this file, and also import other style files */
body {
    font-family: futura-pt, sans-serif;
}
p {
    margin: 0;
    padding: 0;
}
h1,h2,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

.AdvDirIntro {
    text-align: center;
    color: white;
    background-color: rgba(67, 136, 217, .8);
    width: 100%;
    padding: 50px 0 20px;
}
.backgroundImage{
    background-image: url('/assets/images/Background.gif');
    background-repeat: repeat-y;
    background-size: cover;
}