<div class="d-flex flex-column flex-md-row flex-sm-column topRow">
    <!-- <div class="afraid introTextBox align-self-center">
        <h1>Financially worried and afraid?<br />
          Call on us to get Medicaid.</h1>
        <h4>Let us assist you, Call us today</h4>
        <h1>1-800-919-9777</h1>
    </div> -->
    <div class="p-2 align-self-center topLeft">
      <div class="family introTextBox">
          <h6>The original</h6>
          <h1>LONG TERM CARE</h1>
          <h1>QUALIFICATIONS</h1>
          <h6>Since 1984</h6>
          <h4>We treat your family like our family.</h4>
      </div>
    </div>
    <div class="homeTopRowRight p-2">
      <img src="../assets/images/blueLogoAnimated.gif" class="blueLogo d-none d-md-block">
      <img src="../assets/images/BlueFlagFullSm.gif" class="d-block d-sm-none">
    </div>
</div>
<div class="d-flex flex-column flex-sm-column flex-md-column flex-lg-row secondRow">
  <div class="align-self-end signImg">
    <img class="img-fluid " src="../assets/images/couplesign.png">
  </div>
  <div class="blueSquare">
      <h3>Our specialty is crisis Medicaid planning.</h3>
      <h5>Crisis Medicaid Planning:</h5>
      <p>This occurs when an individual is already in a nursing facility and needs to qualify for 
      Medicaid immediately or will be entering a nursing home within a brief period of time.</p><br>
      <h5>Filing Captains:</h5>
      <p>We are a filing company working to give you complete information, satisfaction and protection. 
          Our team of professionals are dedicated to helping those with loved ones in a nursing home or 
          going into a nursing home get qualified for Florida Medicaid. The results speak for themselves,
          our ability to obtain fast qualifications, quality nursing home placement and asset protection are
          unmatched.</p><br>
      <h5>Asset Preservation:</h5>
      <p>There are many various strategies to preserve assets and qualify for the Florida Medicaid Program.
          Our experience in asset preservation means you will not have to give up everything you or your loved one
          has worked had for to get approval for Florida Medicaid.</p><br>
      <h5>Florida Medicaid Institutional Care Program (ICP nursing home benefits):</h5>
      <p>The Florida Medicaid Institutional Care Program considers three different criteria tests in order to
          determine an individual's eligibility. These tests are: medical necessity, income and assets.</p>     
  </div>
</div>
<div class="homeAdv">
  <div class="homeAdvDark justify-content-center">
      <div class="d-flex flex-row justify-content-center homeAdvTopBox flex-wrap">
        <img src="../assets/images/logo.png" class="p-2 homeAdvLogo text-center">
        <div class="homeAdvTxt align-self-center p-2">
          <h3>LONG TERM<br>CARE QUALIFICATIONS</h3>
        </div>
      </div>
      <div class="justify-content-center advQuestion">
            <h2>Are your advanced directives up to date?</h2>
        <p><strong>We provide them for FREE as a courtesy to our clients.</strong></p>
      </div>
      <div class="d-flex flex-row justify-content-center">
      <button class="freeAdvButton" routerLink="/advanced-directives">
        <div class="p-2">
          <h1 class="homeBtnFree">
            FREE
          </h1>
        </div>
        <div class="p-2">
          <h3 class="homeBtnTxt">
            ADVANCED
            <br>
            DIRECTIVES
          </h3>
        </div>
      </button>
    </div>
  </div>
</div>
