<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col introTextBox">
        <h1>LONG TERM CARE<br />
            QUALIFICATIONS</h1>
        <h4>Where clients are family.</h4>
    </div>
    <div class="col">
      <img src="../assets/images/Flag.gif" class="homeFlag" width="50%">
      <img src="../assets/images/blueLogo.png" width="50%">
    </div>
  </div>
  <div class="row">
    <div class="col">

      <img src="../assets/images/couplesign.png" class="signImage">
      <div class="bluetri"></div>
    </div>
    <div class="col">
      <div class="blueSquare">
        <h3>Our specialty is crisis Medicaid planning.</h3>
        <h5>Crisis Medicaid Planning:</h5>
        <p>This occurs when an individual is already in a nursing facility and needs to qualify for 
        Medicaid immediately or will be entering a nursing home within a brief period of time.</p>
        <h5>Filing Captains:</h5>
        <p>We are a filing company working to give you complete information, satisfaction and protection. 
            Our team of professionals are dedicated to helping those with loved ones in a nursing home or 
            going into a nursing home get qualified for Florida Medicaid. The results speak for themselves,
            our ability to obtain fast qualifications, quality nursing home placement and asset protection are
            unmatched.</p>
        <h5>Asset Preservation:</h5>
        <p>There are many various strategies to preserve assets and qualify for the Florida Medicaid Program.
            Our experience in asset preservation means you will not have to give up everything you or your loved one
            has worked had for to get approval for Florida Medicaid.</p>
        <h5>Florida Medicaid Institutional Care Program (ICP nursing home benefits):</h5>
        <p>The Florida Medicaid Institutional Care Program considers three different criteria tests in order to
            determine an individual's eligibility. These tests are: medical necessity, income and assets.</p>     
      </div>
    </div>
  </div>
  <div class="row homeAdv">
    <div class="homeAdvDark">
      <div class="row justify-content-center">
        <div class="homeAdvTopBox">
          <img src="../assets/images/logo.png" class="homeAdvLogo">
          <div class="homeAdvTxt">
            <h3>LONG TERM CARE</h3>
            <h3>QUALIFICATIONS</h3>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
          <h2>Are your advanced directives up to date?</h2>
      </div>
      <div class="row justify-content-center">
          <p><strong>We provide them for FREE as a courtesy to our clients.</strong></p>
      </div>
      <div class="row justify-content-center align-self-end">
          <button type="button" class="btn homeAdvBtn" routerLink="/advanced-directives">
              <div class="row align-items-center">
                  <div class="col float-right homeBtnFree">
                      FREE
                  </div>
                  <div class="col homeBtnTxt">
                      ADVANCED
                      <br>
                      DIRECTIVES
                  </div>
              </div>
          </button>
      </div>
    </div>
  </div>
</div>
