.p-2 {
    padding: 0 !important;
}
.topRow {
    padding-top: 10px; 
}
.topLeft {
    margin: 0 auto;
}
.introTextBox {
    color: #4389d9;
    text-align: center;
    margin: 0 auto;
}
.homeTopRowRight {
    margin: 0 auto;
    text-align:right;
}
.blueLogo {
    width: 77%;
}

.signImg{
    min-width: 45%;
}
.homeFlag {
    position: absolute;
    top: -211px;
    left: 65px;
}

.bluetri {
    position: absolute;
    left: 410px;
    width: 0;
    height: 0;
    border-top: 639px solid #4389d9;
    border-left: 567px solid transparent;
}

.blueSquare {
    background-color: #4389d9;
    color: white;
    padding: 4em 2em;
    min-width: 55%;
}

.homeAdv {
    background-image: url('/assets/images/HomeAdvanced.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 870px;
    color: #fff;
}

.homeAdvDark {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(0,0,0,.6);
    padding-top: 50px;
}
.homeAdvTopBox {
    /* vertical-align: middle;*/
    padding: 10px 0; 
    margin-bottom: 10px;
}

.homeAdvLogo {
    margin-right: 10px;
    float: left;
}
.homeAdvTxt {
    max-width: 250px;
    text-align: center;
    float: right;
}
.advQuestion {
    text-align: center;
    padding-bottom: 10px;
}
.homeAdvBtn {
    color: #000;
    background-color: #f9932f;
    margin-top: 200px;
}

.homeBtnFree {
    font-size: 5.3em;
    font-weight: bolder;
}

.homeBtnTxt {
    font-size: 2.2em;
    line-height: 1.1;
}
.freeAdvButton {
    margin: 25px auto;
    background-color: #f9932f;
    border-radius: 5px;
    border-color: #f9932f;
    padding: 5px 20px;
    max-width: 100%;
}
/* .afraid {
    animation-name: fadeouttext;
    animation-duration: 2s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

.family{
    display: none;
    animation-name: fadeintext;
    animation-duration: 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
}

@keyframes fadeintext {
    0% {opacity: 0;}
    99% {opacity: 1;}
    100% { opacity: 1;}
}

@keyframes fadeouttext {
    0% {opacity: 1;}
    99% {opacity: 0;}
    100% { opacity: 0; display:none;}
} */
/* // Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
}