<div class="d-flex flex-row justify-content-center">
    <div class="AdvDirIntro">
        <h1>ROBERT IN CUBA</h1>
        <p>Long Term Care Qualifications is dedicated to many philanthropic endeavors.<br>Robert Thor has been a driving force behind the Agua 4 Nicaragua charitable endeavors.</p>
    </div>
</div>
<div class="d-flex flex-row align-items-center justify-content-center contactRow flex-wrap">
  <div class="para2 textPad">
    <h2>Vice President of Nicaragua and the Mahanaim Project</h2>
    <p>Robert Thor with Vice President Moisés Omar Halleslevens Acevedo. Supporting the Mahanaim Project<br>for drug rehabilitation and sponsoring Nicaraguan boxing for the 2012 Olympic Games.</p>
  </div>
  <div class="para2"><img class="widePics" src="../assets/images/Nicar01-RobertManahaim.jpg"></div>
</div>
<div class="d-flex flex-row align-items-center flex-wrap blueBg">
  <div class="para13"><img class="tallPics" src="../assets/images/Nicar02-RobertAssemblyOGod.jpg" alt="mecical necessity"></div>
  <div class="para13 textPad">
    <h2>Reverend Saturnino Cerrato, Superintendent of the Assemblies of God in Nicaragua</h2>
    <p>Robert Thor met with Reverend Saturnino Cerrato, Superintendent of the<br>Assemblies of God in Nicaragua, and Dean of Matin Luther University.</p>
  </div>
</div>
<div class="d-flex flex-row align-items-center justify-content-center flex-wrap contactRow">
  <div class="ranchoTxt">
    <h2 class="textPad text-center">Ranchero System</h2>
    <p>The Rancho Farming System, located in Homogenize, Nicaragua, is an 80 acre farm where an integrated, sustainable rural development strategy has been progressing with the following work components for over 20 years and has effectively provided sustainable relief for over 5,000 people in the northern region of Nicaragua.</p>
    <br>
    <ol>
      <li>Diversified agricultural production</li>
      <li>Diversified small animal production</li>
      <li>Ecological agricultural production</li>
      <li>Soil and water conservation</li>
      <li>The transfer of viable agroecological and animal husbandry technology to rural farmers</li>
      <li>The transfer of plant material for forage, fruit trees, reforestation, and botanical medicine</li>
      <li>A training and research center</li>
    </ol>
        <p>The Rancho Farming methods have been specifically adapted to the Mountainous region of Northern Nicaragua near Honduras. This region is home to a half million farmers living in extreme poverty. Rancho System and its beneficiaries work to promote, appropriate and apply generosity, and solidarity that serves the most vulnerable members of the community including women, children, youth, the elderly, and displaced indigenous groups.
        <br><br>
        The purpose of the Rancho System is to empower rural villagers to solve their most pressing food and environmental problems, while creating a sense of community. Using methods created at The Rancho System, educates villagers on how they can emerge from poverty and hunger by using the few natural resources available to them. Implementing the Rancho method in their villages allows the locals to produce food for their animals, children, and themselves, using only 1/10 of an acre of land.
        <br><br>
        The System educates villagers to grow vegetables using suspended tire carcasses like hanging baskets filled with rich compost; irrigating by hand provides a much needed variety of wholesome produce during long dry spell. Rancho teaches the importance of raising small farm animals such as goats, sheep and rabbits, and the villagers are taught to build elevated animal pens to capture the livestock waste. The waste is then transported to feed worms raised in large earthen pits. The earthworms then produce an organic fertilizer known as Humus, in the short period of 6-8 weeks, as well as serve as a source of food to feed chickens.
        <br><br>
        To gain access to Rancho Systems, the participating families must fulfill four basic conditions:</p>
        <ol>
          <li>They must commit to a 3 year training program. After the program they receive animals, earth worms, and plants from Rancho System.</li>
          <li>They must prepare housing facilities for the animals on their property.</li>
          <li>They must provide feeding conditions for the animals and themselves by planting vegetation.</li>
          <li>They must sign a letter of commitment, assuring that 18 months after they receive the animals they will share their experience and knowledge with other villagers to create a sense of community.</li>
        </ol>
        <p>To ensure the long term success of Rancho System, a trained veterinarian team routinely visits the farmers to conduct check ups on the livestock. Rancho also sends and soil scientist into the countryside to examine the techniques for sustainable agriculture.
        <br><br>
        The Rancho Central Teaching Farm at Niquinohomo, provides a feeding cafeteria and dormitory housing for 30 families, as well as a class room with video capabilities and displays of agriculture methods. With the expense of training, feeding, housing and transporting farmers and personnel, Raising funds is vital to the long term success of The Rancho Farming System. Please enjoy the short film that Long Term Care Qualifications Produced:</p>
  </div>
  <div class="para2 textPad"><iframe width="640" height="480" src="http://www.youtube.com/embed/ZBnNDcJbQBc" frameborder="0" allowfullscreen=""></iframe>
      </div>
</div>
<div class="d-flex flex-row align-items-center flex-wrap blueBg">
  <div class="para13"><img class="widePics" src="../assets/images/Nicar03-RobertShowingSite.jpg" alt="mecical necessity"></div>
  <div class="para13 textPad">
    <h2>Showing the humanitarian video to the Vice President</h2>
    <p>Robert is showing the Vice President Moisés Omar Halleslevens Acevedo his video for<br>Rancho Systems, self sustaining project including agriculture, livestock and water filtration.</p>
  </div>
</div>
<div class="d-flex flex-row align-items-center justify-content-center flex-wrap contactRow">
  <div class="para2 textPad">
    <h2>Robert with Vice President, Moisés Omar Halleslevens Acevedo</h2>
    <p>Robert with Nicaragua's Vice President, Moisés Omar Halleslevens Acevedo.<br>Robert has brought a partnership with HSA for Engineering and Scientists to assist in free environmental help.</p>
  </div>
  <div class="para2"><img class="tallPics" src="../assets/images/Nicar04-RobertHSA.jpg"></div>
</div>