.AdvDirIntro {
    text-align: center;
    color: white;
    background-color: rgba(67, 136, 217, .8);
    width: 100%;
    margin-bottom: 25px;
    padding: 50px 0 20px;
}
.backgroundImage{
    background-image: url('/assets/images/Background.gif');
    background-repeat: repeat-y;
    background-size: cover;
}
.buttonsCenter {
    text-align: center;
}
.formsBtn {
    color: #000;
    background-color: #f9932f;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
}
.centerButtons {
    margin: 0 auto;
}