<div class="backgroundImage">
  <div class="d-flex flex-row justify-content-center">
    <div class="AdvDirIntro">
      <h1>ADVANCED DIRECTIVES</h1>
      <p>Thousands of people have taken advantage of the FREE service Long Term Care Qualifications provides.<br>FREE Downloadable Advanced Directives forms are available below. We encourage you to pass this information along to your family and friends.</p>
      <h3>Downloadable Forms</h3>
      <p class="text-center"><em>These forms are for Florida only</em></p>
    </div>
  </div>
  
  <div  class="d-flex justify-content-center">
    <div class="buttonsCenter">
      <button class="formsBtn" routerLink="/power-of-attorney">Power of Attorney<br><small>Florida Statutes 709.01 et seq.</small></button>
      <!-- <p>Florida Statutes 709.01 et seq.</p> -->
    </div>
    <div>
      <button class="formsBtn" routerLink="/living-will">Living Will</button>
    </div>
    <div>
      <button class="formsBtn" routerLink="/health-care-surrogate">Health Care Surrogate</button>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-center">
    <img src="../assets/images/AdvancedDirDocs.png">
  </div>
</div>